@font-face {
  font-family: 'BPGNinoMtavruli';
  src: url('../fonts/BPGNinoMtavruli.eot');
  src: url('../fonts/BPGNinoMtavruli.woff2'') format('woff2');
  font-weight: normal;
  font-style: normal;
}

